.stricker {
  max-width: 100%;
}

.card-detail {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin: 10px;
}

.status-complete {
  color: blue;
}

.status-active {
  color: #FFCC00;
}

.border-card-expire {
  background: #EEEEEE;
}

.padding-center {
  text-align: center;
}

.right {
  width: 70%;
  display: inline-block;
}
