h1.black {
  color: black;
}

h5.no-padding {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* ==========================================================================
   IMAGE
   ========================================================================== */
.profile {
  border-radius: 50%;
  width:100%;
  height: 190px;
  max-width:inherit;
  text-align: center;
}

.browse {
  padding-top: 10px;
}

.aside {
  width: 250px;
  margin: 0;
}

.width-200{
  width: 250px;
  margin: 0;
}
