<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>PIG PUG PONG TOP-UP</title>
    <!--GOOGLE FONT -->
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!--SLIDER CSS CLASES -->
    <link href="{% static 'assets/Slides-SlidesJS-3/examples/playing/css/slider.css' %}" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/profile.css' %}" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:index' %}">PIGPUGPONG</a>
            </div>
            <!-- <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <a class="navbar-brand" href="{% url 'main:index' %}">PIGPUGPONG</a>

                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="services.html">SERVICES</a></li>
                    <li><a href="pricing.html">PRICING</a></li>
                    <li><a href="gallery.html">GALLERY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div> -->
        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->

    <aside>
      <div class="container width-200">
        <form>
        <!-- bio -->
          <div class="col-md-12 col-sm-12 image-container">
            <div class="form-group">
              <img class="profile" src = "../static/images/profile.jpg" alt="100">
              <!-- <i class="fa fa-camera img-corner" aria-hidden="true"></i> -->
              <input class = "browse" name = "key" value = "Line" type = "file"></input>
            </div>
            <div class="form-group">
              <h5 class = no-padding >USERNAME</h5>
              <input type="text" class="form-control" value = {{account.username}}>
            </div>
            <div class="form-group">
              <h5 class = no-padding >EMAIL</h5>
              <input type="text" class="form-control" value = {{account.email}}>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Change</button>
            </div>
          </div>
        </form>
      </div>
    </aside>

    <div class="space-bottom"></div>
    <!--END HOME SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    {% load static %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/js/profile.js' %}"></script>
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });
    </script>

</body>
</html>
