<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>PIG PUG PONG TOP-UP</title>
    <!--GOOGLE FONT -->
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!--SLIDER CSS CLASES -->
    <link href="{% static 'assets/Slides-SlidesJS-3/examples/playing/css/slider.css' %}" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

<<<<<<< HEAD
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
=======
    <link href="{% static 'assets/css/style-loginregis.css' %}" rel="stylesheet" />

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->

    <!-- Import for use DatePicker  -->
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" /> -->

>>>>>>> Recheck after rebase change the new form
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!--END HEAD SECTION -->
<body>
    <!-- NAV SECTION -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand ppp" href="{% url 'main:index' %}">PIGPUGPONG</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <div class="row" style="padding-top: 6px; padding-bottom: 6px">
                        <div class="col-md-4">
                            <li>
                              <div class="row"><input class="form-control" type="text" id="login_email" placeholder="username / email" name="email"></div>
                            </li>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <li>
                              <div class="row"><input class="form-control" type="text" id="login_password" placeholder="password" name="password"></div>
                            </li>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <li>
                              <div class="row"><button type="submit" class="btn btn-primary">Login</button></div>
                            </li>
                        </div>
                  </div>
                    <!-- <li><a href="services.html">SERVICES</a></li>
                    <li><a href="pricing.html">PRICING</a></li>
                    <li><a href="gallery.html">GALLERY</a></li>
                    <li><a href="contact.html">CONTACT</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <!--END NAV SECTION -->
    <!-- HOME SECTION -->


    <div class="container">
        <div class="row">
        <div class="col-md-6 jumbotron">

                  <h1 class="ppp">Sign Up</h1>
                  <div class="row">
                      <input type="text" class="mar form-control" required="required"  id="regis_username" name="regis_username" placeholder="Username">
                      <input type="text" class="mar form-control" required="required"  id="regis_email" name="regis_email" placeholder="E-mail">
                      <input class="mar form-control" type="password" id="regis_password" name="regis_password" placeholder="Password">
                      <input class="mar form-control" type="password" id="regis_confirmpassword" name="regis_confirmpassword" placeholder="Confirm Password">
                  </div>
                  <div class="row text-right" >
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                  </div>


        </div>
        <div class="col-md-6">
            For logo or any event!!!
        </div>
        </div>
    </div>
    <div class="space-bottom"></div>
    <!--END HOME SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    {% load static %}
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- SLIDER SCRIPTS LIBRARY -->
    <script src="{% static 'assets/Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script>
        $(document).ready(function () {
            $('#slides').slidesjs({
                width: 940,
                height: 528,
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: true
                }
            });
        });

    </script>

</body>
</html>
