<div class="container width-200" id="edit">

  <!-- bio -->
    <div class="col-md-12 col-sm-12 image-container">
      <div class="form-group">
        <img class="profile" src = "../static/images/profile.jpg" alt="100">
      </div>
      <div class="form-group">
        <span class="glyphicon glyphicon-user bold" aria-hidden="true"></span> {{account.username}}
        <br>
        <span class="glyphicon glyphicon-usd bold" aria-hidden="true"></span> 343 baht
        <br>
        <span class="glyphicon glyphicon-star bold" aria-hidden="true"></span> 37 point
        <br>
        <form id="edit-profile">
          <button type="submit" class="btn btn-success">Edit</button>
        </form>
      </div>
    </div>
</div>

<div class="container width-200" id="save_change">

  <!-- bio -->
    <div class="col-md-12 col-sm-12 image-container">
      <div class="form-group">
        <img class="profile" src = "../static/images/profile.jpg" alt="100">
        <input class = "browse" name = "key" value = "Line" type = "file"></input>
      </div>
      <div class="form-group">
        <span class="glyphicon glyphicon-user bold" aria-hidden="true"></span> Username
        <input type="text" class="form-control" value = {{account.username}}>
      </div>
      <div class="form-group">
        <span class="glyphicon glyphicon-envelope bold" aria-hidden="true"></span> Email
        <input type="text" class="form-control" value = {{account.email}}>
      </div>
      <div class="form-group">
        <form id="save-profile">
          <button type="submit" class="btn btn-primary">Save Change</button>
        </form>
      </div>
    </div>

</div>
